{% if status = 200 %}
	<h1>Category: {{ data.name }}</h1>
	<ul>
		{% for article in data.articles %}
			<li><a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	{{ message }}
{% endif %}
<hr>
<a href="{% url 'blog:categories' %}">Back to Home</a>