<h1>Categories on site</h1>
<ul>
{% if categories %}
	{% for category in categories %}
		<li><a href="{% url 'blog:category_detail' category.slug%}">{{ category.name }}</a> ({{ category.articles.count }} articles)</li>
	{% endfor %}
{% endif %}
</ul>
<hr>
<a href="{% url 'blog:index' %}">Back to Home</a>