<h1>{{ article.title }}</h1>
<p>Category: <a href="{% url 'blog:category_detail' article.category.slug %}">{{ article.category.name }}</a></p>
<p>{{ article.content }}</p>
<p>Created at {{ article.created_at }}</p>
<hr>
<p>Related articles:</p>
<ul>
	{% if related_articles %}
		{% for a in related_articles%}
			<li><a href="{% url 'blog:article_detail' a.id %}">{{ a.title }}</a></li>
		{% endfor%}
	{% endif %}
</ul>
<hr>
<a href="{% url 'blog:index' %}">Back to Home</a>