<h1>hello world!</h1>
{% if articless %}
	{% for article in articless %}
		<ul>
			<li><a href="/blog/{{ article.id }}">{{ article.title }}</a></li>
			<li>in {{ article.category.name }}</li>
		</ul>
		<hr>
	{% endfor %}
{% endif %}